services:
  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    networks:
      - network_app
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
    networks:
      - network_app

  frontend:
    build:
      context: ./frontend
      # Vamos usar o "target" para diferenciar build de dev (veja o Dockerfile abaixo)
      target: ${BUILD_TARGET:-development} 
    networks:
      - network_app

  nginx:
    image: nginx:alpine
    depends_on:
      - backend
      - frontend
    networks:
      - network_app

networks:
  network_app:
    driver: bridge