name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ] # Gera a tag :latest quando dá push na main
    tags: [ "v*" ]       # Gera a tag :v1.0.0 quando você cria uma tag v...

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Login no GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # ESTE PASSO É MÁGICO: Ele gera as metadados (tags) automaticamente
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/grocery-backend
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/grocery-frontend
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/grocery-gateway
          tags: |
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=ref,event=tag

      # 1. BUILD DO BACKEND
      - name: Build e Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          # Usa as tags geradas dinamicamente para este serviço
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/grocery-backend:${{ steps.meta.outputs.version }}
          # Se for push na main, também garante a tag latest
          labels: ${{ steps.meta.outputs.labels }}

      # 2. BUILD DO FRONTEND
      - name: Build e Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          target: production
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/grocery-frontend:${{ steps.meta.outputs.version }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
             VITE_API_URL=/api/v1

      # 3. BUILD DO GATEWAY
      - name: Build e Push Gateway
        uses: docker/build-push-action@v5
        with:
          context: ./nginx
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/grocery-gateway:${{ steps.meta.outputs.version }}
          labels: ${{ steps.meta.outputs.labels }}