name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Login no GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 1. BUILD DO BACKEND
      - name: Build e Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/grocery-backend:latest

      # 2. BUILD DO FRONTEND (Usando o target 'production' do Dockerfile multi-stage)
      - name: Build e Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          target: production  # Importante: usa o estágio final do Nginx
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/grocery-frontend:latest
          build-args: |
             VITE_API_URL=https://seu-site-em-vitoria.com.br/api/v1

      # 3. BUILD DO GATEWAY (NGINX)
      # Para isso, você deve criar um Dockerfile simples dentro da pasta nginx
      - name: Build e Push Gateway
        uses: docker/build-push-action@v5
        with:
          context: ./nginx
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/grocery-gateway:latest